/* Notes */


/*
To calculate ratios for cards: http://andrew.hedges.name/experiments/aspect_ratio/
We could probably build out a little calc funciton in either JS or CSS to automate

Placing in Source Sans Pro to increase font-rendering quality and available widths
font-family: 'Source Sans Pro', sans-serif;
*/


/* General */
@font-face {
  font-family: 'Platform';
  src: url('../fonts/Platform-Bold.eot');
  src: url('../fonts/Platform-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Platform-Bold.woff') format('woff'), url('../fonts/Platform-Bold.ttf') format('truetype'), url('../fonts/Platform-Bold.svg#Platform-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
::-webkit-input-placeholder {
  color: inherit;
}
::-moz-placeholder {
  color: inherit;
}
:-ms-input-placeholder {
  color: inherit;
}
:-moz-placeholder {
  color: inherit;
}
html {
  -moz-box-shadow: inset 10px 10px 20px rgba(255, 255, 255, 1);
  -webkit-box-shadow: inset 10px 10px 20px rgba(255, 255, 255, 1);
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
img {
  max-width: 100%;
}
svg {
  width: 100%;
}
body {
  background: repeating-linear-gradient( -45deg, rgb(245, 245, 245), rgb(245, 245, 245) 10vh, rgb(250, 250, 250) 10vh, rgb(250, 250, 250) 20vh);
  background-size: 100%;
  background-position: fixed;
}
form {
  position: relative;
}
.content-wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 10vw;
}
.content-section {}
.content-section--vpHeight {
  height: 100vh;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex--center {
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.clearfix {}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/* Page structure */
.content-section--twenty-percent-height {
  height: 20vh;
}
.content-section--sixty-percent-height {
  height: 60vh;
}

/* Nav panel */
nav {
  display: block;
  position: fixed;
  width: 75vw;
  height: 100%;
  left: -75vw;
  background-color: rgba(255,255,255,0.98);
  z-index: 500;
  box-shadow: 3px 0 8px rgba(120, 120, 120, 0.35);
}

/* Top section - logo */
.content-section__logo-wrapper {
  padding: 7.5vh 0;
}
.primary-logo {
  display: block;
  width: auto;
  height: 5vh;
  margin: 0 auto;
}

/* Middle section - cards */
.content-section__card-wrapper {
  margin: 0;
  padding: 0;
}

/* Cards */
.card {
  position: fixed;
  width: 30vw;
  height: 42vw;
  max-width: 300px;
  max-height: 420px;
  margin: auto;
  top: 0;
  bottom: 0;
  border-width: 1.5vw;
  border-style: solid;
  border-radius: 5%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform .5s ease;
}
.card--white {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  margin-right: 5vw;
  color: #D22196;
  text-transform: none;
}
.card--pink {
  background-color: #D22196;
  border-color: #ffffff;
  background-image: url('../assets/images/pink_bg_1500x2100.jpg');
  background-size: cover;
  background-position: center;
  /*margin: 0 4vw 0 1vw;*/
  color: #FFFFFF;
}
.card--hidden {
  display: none;
}
.card__inner {
  background-color: transparent;
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.card--white .card__inner {
  padding: 1rem 1rem;
}
.card--pink .card__inner {
  padding: 1rem;
}
.card__input {
  position: absolute;
  top: 2rem;
  height: calc(100% - 4rem);
  font-family: 'Source Sans Pro', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 900;
  color: inherit;
}
.card--white .card__input {
  width: calc(100% - 2rem);
  font-size: 24px;
  line-height: 1.4;
}
.card--pink .card__input {
  width: calc(100% - 4rem);
  font-size: 48px;
  line-height: .9;
  text-transform: uppercase;
}
.card__inner--dynamic {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.25rem;
  background-color: white;
  font-family: 'Source Sans Pro', "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: inherit;
  font-size: 20px;
}
.card__inner--dynamic p {
  margin: 0 0 0 1rem;
  line-height: 1;
}
.card__inner--dynamic p:nth-of-type(1) {
  position: relative;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.card__inner--dynamic p:nth-of-type(1)::after {
  position: absolute;
  right: 2rem;
  content: "";
  width: 0;
  height: 0;
  border-left: .4em solid transparent;
  border-right: .4em solid transparent;
  border-top: .5em solid rgba(210, 33, 150, 1.0);
}
.card__inner--dynamic p {
  font-weight: 300;
}

/* Card positioning and base animation values */
#main-card-white {
  /*top: 150%;*/
}
#main-card-pink-right {
  /*top: 150%;*/
}
#main-card-pink-left {
  /*top: 150%;*/
}
#main-card-white.dealt {
  /*top: calc(50% - 23.6vw);*/
  /*left: 12.5vw;*/
  left: 27.5vw;
  /*z-index: 325;*/
  z-index: 350;
  transform: rotate(-1.5deg);
}
#main-card-pink-left.dealt {
  /*top: calc(50% - 23.6vw);*/
  left: 45vw;
  /*z-index: 350;*/
  z-index: 325;
  transform: rotate(-3deg);
}
#main-card-pink-right.dealt {
  /*top: calc(50% - 23.6vw);*/
  /*left: 60vw;*/
  left: 55vw;
  z-index: 300;
  transform: rotate(2deg);
}

/* Card interface */
.content-section__interface-wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 250;
}

/* Indicator cards */
.indicators {
  position: fixed;
  left: 13.5vw;
}

.indicators svg {
  width: auto;
  height: 4rem;
  margin: 0 1.5vw 0 0;
  fill: rgb(170,170,170);
  transition: transform .25s;
  position: relative;
}

.indicators svg.active {
  transform: scale(1.1);
  transition: transform .25s;
}


/*

.indicator__wrapper {
  width: auto;
  height: 4rem;
  margin: 0 1.5vw 0 0;
  transition: transform .25s;
  position: relative;
}
.indicator__wrapper.active {
  transform: scale(1.1);
  transition: transform .25s;
}
.indicator__wrapper.active:before {
  position: absolute;
  content: url(http://38.media.tumblr.com/947660155c28fb5a22b99c031087227c/tumblr_na3o8nNGYP1re9bfao1_400.gif);
  width:100%;
  height: 100%;
  z-index: 900;
}
.indicator__wrapper svg {
  fill: rgb(170,170,170);
}
*/

/* Button specifics */
.button__wrapper{
  position: fixed;
  bottom: 4vh;
  height: 9vh;
  border-top: 1px solid rgb(220, 220, 220);
  border-bottom: 2px solid rgb(255, 255, 255);
  background-color: rgb(237, 237, 237);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(237, 237, 237)), to(rgb(228, 228, 228)));
  background-image: -webkit-linear-gradient(top, rgb(237, 237, 237), rgb(228, 228, 228));
  background-image: -moz-linear-gradient(top, rgb(237, 237, 237), rgb(228, 228, 228));
  background-image: -ms-linear-gradient(top, rgb(237, 237, 237), rgb(228, 228, 228));
  background-image: -o-linear-gradient(top, rgb(237, 237, 237), rgb(228, 228, 228));
  z-index: 260;
}
.button__wrapper.card__submit--wrapper {
  left: 13.5vw;
  width: 43vw;
}
.button__wrapper.add-blank {
  left: 57.5vw;
  width: 23vw;
}
.button__wrapper.space-counter {
  left: 81.5vw;
  width: 6vw;
  border-radius: 1rem;
  text-align: center;
}
.button__wrapper.space-counter p {
  margin: 0;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  line-height: 9vh;
  font-size: 4.5vh;
  color: rgb(150,150,150);
}
.button {
  position: fixed;
  bottom: 5.5vh;
  height: 6vh;
  text-align: center;
  text-transform: uppercase;
  line-height: 6vh;
  font-size: 1.25em;
  font-weight: 700;
  color: rgb(85,85,85);
  letter-spacing: 0.025em;
  text-shadow: 0 1px 3px rgb(239, 239, 239);
  border: 1px solid rgb(239, 239, 239);
  background-color: rgb(247, 247, 247);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(247, 247, 247)), to(rgb(239, 239, 239)));
  background-image: -webkit-linear-gradient(top, rgb(247, 247, 247), rgb(239, 239, 239));
  background-image: -moz-linear-gradient(top, rgb(247, 247, 247), rgb(239, 239, 239));
  background-image: -ms-linear-gradient(top, rgb(247, 247, 247), rgb(239, 239, 239));
  background-image: -o-linear-gradient(top, rgb(247, 247, 247), rgb(239, 239, 239));
  box-shadow: 0 1px 8px rgba(187,187,187,0.4);
}
.button.card__submit--button {
  position: fixed;
  left: 15vw;
  width: 40vw;
}
input#submit-cards {
  border: 0px solid transparent;
  margin: 1vh 0;
  padding: 0;
  background: none;
  text-transform: uppercase;
  line-height: 4vh;
  font-weight: 700;
  color: rgb(85,85,85);
  letter-spacing: 0.025em;
  text-shadow: 0 1px 3px rgb(239, 239, 239);
  vertical-align: top;
}
.button.card__submit--button svg {
  display: inline-block;
  width: auto;
  height: 2.5vh;
  margin: 1.75vh 1vw 0 0;
  fill: rgb(170,170,170);
}
#add-blank-button.button {
  left: 59vw;
  width: 20vw;
}
.button:hover {
  cursor: pointer;
  border: 1px solid rgb(239, 239, 239);
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgb(247, 247, 247)), to(rgb(239, 239, 239)));
  background-image: -webkit-linear-gradient(bottom, rgb(247, 247, 247), rgb(239, 239, 239));
  background-image: -moz-linear-gradient(bottom, rgb(247, 247, 247), rgb(239, 239, 239));
  background-image: -ms-linear-gradient(bottom, rgb(247, 247, 247), rgb(239, 239, 239));
  background-image: -o-linear-gradient(bottom, rgb(247, 247, 247), rgb(239, 239, 239));
  box-shadow: 0 1px 8px rgba(187,187,187,0.4);
}

/* Span element for underline 'Double Team' options */
span.underline-span[contenteditable],
span.underline-span {
	display: inline-block;
	width: 3rem;
	height: 1em;
	margin: 0 .25em;
	padding: 0;
	line-height: inherit;
	border-bottom: 1px solid currentColor;
}

/* LG */
@media all and (max-width:960px) {
  .flex--lg {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* MD */
@media all and (max-width:720px) {
  .flex--md {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* SM */
@media all and (max-width:480px) {
  .flex--sm {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .primary-logo {
    width: 100vw;
  }
  .card {
    width: 60vw;
    height: 77vw;
  }
  .card--white, .card--pink {
    margin: 5vw 0;
  }
}
